diffusers
av
multimethod
multipledispatch
plum-dispatch
pyarrow
polars
decord
torchcodec
ipykernel
opencv-python
overloading
wandb[media]
einops
torch
toolz
ray
piq
tqdm
umap-learn[plot]
kmeans-pytorch
--extra-index-url https://pypi.nvidia.com
nvidia-dali-cuda120
ffmpeg-python
rotary_embedding_torch
-e .
