multimethod
multipledispatch
plum-dispatch
pyarrow
overloading
wandb[media]
einops
torch
toolz
piq
tqdm
umap-learn[plot]
kmeans-pytorch
--extra-index-url https://pypi.nvidia.com
nvidia-dali-cuda120
ffmpeg-python
-e .
